<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %> : <%= count %>
  </h1>

  <div class="users-list">
    <% users.forEach((user)=> { %>
      <div class="user-card">
        <a href="/<%= user._id %>">
          <%= user.name %>
        </a>
        <span>- <%= user.email %></span>
        <button class="del" id="<%= user._id %>">X</button>
      </div>
      <% }); %>
  </div>


  <div class="main-links">
    <a href="/auth/register" class="btn">Registration</a>
    <a href="/auth/login" class="btn">Login</a>
  </div>
</body>
<script src="/javascripts/index.js"></script>

</html>